<div class="chat">
  <div *ngFor="let item of items">
    <app-message [icon]="item.icon" [message]="item.message" [isMessage]="item.isMessage"></app-message>
  </div>

  <div class="chat__send">
    <form class="chat__form">
      <mat-form-field class="example-full-width">
        <mat-label class="chat__placeholder">Введите сообщение</mat-label>
        <input autocomplete="off" matInput>
      </mat-form-field>
      <button mat-button class="chat__buttonSend"><img src="assets/send.svg" alt=""></button>
    </form>
  </div>
</div>
