.authButtonSteam {
  border: none;
  outline: none;
  padding: 0 14px;
  width: 180px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background: linear-gradient(322.55deg, #598E67 25.61%, #A8B15E 100.93%);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05), 4px 4px 4px rgba(0, 0, 0, 0.05), -4px -4px 4px rgba(190, 200, 204, 0.05);
  border-radius: 4px;
  img {
    margin-right: 12px;
  }
}
