<section class="dota__crash">
  <video autoplay muted loop playsinline src="assets/wk_arc_banner.mp4"></video>
  <div class="dota__crashScheduleContainer">
    <img class="dota__crashTitle" src="assets/image/titleDotaCrash.png" alt="">
    <div class="dota__crashSchedule">
      <svg width="100%" height="100%" viewBox="0 -100 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="0" y1="2" x2="95" [attr.y2]=test id="graph-bg-mask" stroke="#B8351E"></line>
        <polygon points="0 2, 95 -50, 95 2" [attr.points]="'0 2, 95 ' + test + ', 95 2'" fill="#B4361E" fill-opacity="0.2"></polygon>
        <image height="12px" width="12px" x="89" style="position: absolute" [attr.y]=icon href="assets/smile/kunka.gif"></image>
      </svg>
    </div>
  </div>
</section>
