  <div class="crashController">
  <div class="crashController__ui">
    <div class="crashController__loader">
      <img src="assets/loader.gif" alt="">
    </div>
    <div class="crashController__controller">
      <div class="crashController__result">
        <div class="crashController__resultBox">
          <img src="assets/dollar.svg" class="crashController__dollar" alt="">
          <span class="crashController__resultNumber">0.00</span>
          <span class="crashController__resultInfo">В РАУНДЕ</span>
        </div>
        <img src="assets/arrow.svg" alt="">
        <div class="crashController__resultBox">
          <img src="assets/dollar.svg" class="crashController__dollar" alt="">
          <span class="crashController__resultNumber">0.00</span>
          <span class="crashController__resultInfo">ВЫИГРЫШ</span>
        </div>
      </div>
      <div class="crashController__rate">
        <div class="crashController__rateBox">
          <button mat-button class="crashController__rateController crashController__rateInput">
            <span>x 1.25</span>
          </button>
          <button mat-button class="crashController__rateController crashController__rateInput">
            <span>x 1.25</span>
          </button>
          <button mat-button class="crashController__rateController crashController__rateInput">
            <span>x 1.25</span>
          </button>
          <button mat-button class="crashController__rateController crashController__rateInput">
            <span>x 1.25</span>
          </button>
          <button mat-button class="crashController__rateController crashController__rateSettings">
            <img src="assets/settings.svg" alt="">
          </button>
        </div>
      </div>
      <div class="crashController__rateStart">
        <div class="crashController__rateStartInputContainer">
          <button class="crashController__rateStartInputButton" mat-button>
            <input type="text" value="5.1">
          </button>
        </div>
        <div class="crashController__rateStartButtonContainer">
          <button mat-button class="crashController__rateStartButton">
            <div class="crashController__rateStartButtonTxt">
              <span (click)="test()">Начать</span>
              <span>50.00$</span>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="crashController__table">
    <div class="crashController__tableTitle">
        <div class="crashController__tableTitleBox">
          <h4 class="crashController__tableTitleTxt">Раунд</h4>
          <svg width="145" height="80" viewBox="0 0 145 80" fill="#29293D" xmlns="http://www.w3.org/2000/svg">
            <path d="M132.561 0H4C1.79086 0 0 1.79086 0 4V76C0 78.2091 1.79086 80 4 80H132.578C134.436 80 136.05 78.7209 136.473 76.912L144.789 41.4008C144.928 40.8081 144.93 40.1915 144.794 39.5981L136.46 3.10935C136.045 1.2902 134.427 0 132.561 0Z" />
          </svg>
        </div>
        <div class="crashController__tableInfo">
          <div class="crashController__tableTitleItem">
            <img src="assets/icons/player.svg" alt="">
            <div class="crashController__tableSpan">
              <span class="crashController__tableTxt">игроков</span>
              <span class="crashController__tableNumber">201</span>
            </div>
          </div>
          <div class="crashController__tableTitleItem">
            <img src="assets/icons/player.svg" alt="">
            <div class="crashController__tableSpan">
              <span class="crashController__tableTxt">игроков</span>
              <span class="crashController__tableNumber">201</span>
            </div>
          </div>
          <div class="crashController__tableTitleItem">
            <img src="assets/icons/player.svg" alt="">
            <div class="crashController__tableSpan">
              <span class="crashController__tableTxt">игроков</span>
              <span class="crashController__tableNumber">201</span>
            </div>
          </div>
        </div>
    </div>
    <div class="crashController__tableItem">
      <div class="crashController__tableItemPrev">
        <img src="assets/face.png" alt="">
        <div class="crashController__tableItemPrevRate">
          <span class="crashController__tableItemPrevRateSpan">$ 10.01</span>
        </div>
        <div class="crashController__tableItemPrevSkins">
          <img src="assets/small%201.png" alt="">
        </div>
      </div>
      <div class="crashController__tableItemLast">
        <div class="crashController__tableItemStatus">
          <span>В игре</span>
        </div>
      </div>
    </div>
  </div>
</div>
