<div class="header__topMenu">
  <div class="header__games">
    <a mat-button routerLink="/dota" routerLinkActive="active-link" class="active-link header__gamesDota">
      <div class="header__gamesBox">
        <img src="assets/dota.png" alt="">
      </div>
    </a>
    <a mat-button routerLink="/cs" routerLinkActive="active-link"  class="header__gamesCs">
      <div class="header__gamesBox">
        <img src="assets/cs.png" alt="">
      </div>
    </a>
  </div>
  <div class="header__buttons">
    <app-button-auth></app-button-auth>
    <app-select-language></app-select-language>
  </div>
</div>

